// section start

section.section.front-about

	.front-about__bg
		img.section--bg.t50.r0(src="img/testimonials-bg.png", alt="img")

	.front-about__img
		img.img--bg(src="img/about_img.jpg", alt="img")
		a.js-video.front-about__video(href="https://www.youtube.com/watch?v=hSbVJ4y6I-8") #[+svg('play')] #[span Video presentation]

	.container
		.row

			.col-xl-4.offset-xl-1.d-none.d-xl-flex.offset-50

				+counter--filled('20', 'years', 'Experience in transportation')

			.col-xl-7

				.heading.heading--white
					span.heading__pre-title About transx
					h3.heading__title Transporterium is the biggest #[span.color--green transportation] company

				p Rockling Devario deep sea bonefish cutthroat trout streamer fish kaluga sailback scorpionfish sand dab, turkeyfish golden loach sand diver. Leopard danio píntano bonnetmouth; blue whiting, suckermouth armored catfish luderick blackchin kingfish. 
				p Midshipman, lightfish longfin smelt pickerel houndshark whiptail. Barracuda archerfish slimehead broadband dogfish, Pacific hake false trevally queen parrotfish Black

				+button--white('#', 'More about')

// section end