// catalog start

section.section.catalog
	.container
		.row
			.col-lg-8.col-xl-9

				.row.bottom-30.align-items-baseline

					.col-3.col-sm-6

						span.shop__aside-trigger
							+svg('filter')

						span.shop-results.d-none.d-sm-inline-block Showing 1–12 of 73 results

					.col-9.col-sm-6.text-right

						// shop filter start
						ul.shop-filter
							li.shop-filter__item.shop-filter__item--active
								span Default Sorting
								ul.shop-filter__sub-list
									li
										a(href="#") Default Sorting
									li
										a(href="#") Sort by populirity
									li
										a(href="#") Sort by price: low to high
									li
										a(href="#") Sort by price: high to low
									li
										a(href="#") Sort by adding
						// shop filter end

				.row.offset-30

					.col-sm-6.col-xl-4

						.shop-item.text-center
							.shop-item__favorite
								+svg('heart')
							.shop-item__badge.badge--sale Sale
							.shop-item__img
								img.img--contain(src="img/shop_1.jpg", alt="img")
							h6.shop-item__title
								a(href="#") Delivery box small
							.shop-item__price
								s $16.00
								span $14.00
							ul.rating-list.justify-content-center
								li.rating-list__item
									+svg('star')
								li.rating-list__item
									+svg('star')
								li.rating-list__item
									+svg('star')
								li.rating-list__item
									+svg('star')
								li.rating-list__item.rating-list__item--disabled
									+svg('star')
							a.button.button--green(href="#") #[span Add to cart] #[+svg('bag')]

					.col-sm-6.col-xl-4

						.shop-item.text-center
							.shop-item__favorite
								+svg('heart')
							.shop-item__img
								img.img--contain(src="img/shop_2.jpg", alt="img")
							h6.shop-item__title
								a(href="#") Delivery box big
							.shop-item__price
								span $16.00
							ul.rating-list.justify-content-center
								li.rating-list__item
									+svg('star')
								li.rating-list__item
									+svg('star')
								li.rating-list__item
									+svg('star')
								li.rating-list__item
									+svg('star')
								li.rating-list__item.rating-list__item--disabled
									+svg('star')
							a.button.button--green(href="#") #[span Add to cart] #[+svg('bag')]

					.col-sm-6.col-xl-4

						.shop-item.text-center
							.shop-item__favorite
								+svg('heart')
							.shop-item__img
								img.img--contain(src="img/shop_3.jpg", alt="img")
							h6.shop-item__title
								a(href="#") Delivery box
							.shop-item__price
								span $18.00
							ul.rating-list.justify-content-center
								li.rating-list__item
									+svg('star')
								li.rating-list__item
									+svg('star')
								li.rating-list__item
									+svg('star')
								li.rating-list__item
									+svg('star')
								li.rating-list__item.rating-list__item--disabled
									+svg('star')
							a.button.button--green(href="#") #[span Add to cart] #[+svg('bag')]

					.col-sm-6.col-xl-4

						.shop-item.text-center
							.shop-item__favorite
								+svg('heart')
							.shop-item__img
								img.img--contain(src="img/shop-5.jpg", alt="img")
							h6.shop-item__title
								a(href="#") Delivery box medium
							.shop-item__price
								span $18.00
							ul.rating-list.justify-content-center
								li.rating-list__item
									+svg('star')
								li.rating-list__item
									+svg('star')
								li.rating-list__item
									+svg('star')
								li.rating-list__item
									+svg('star')
								li.rating-list__item.rating-list__item--disabled
									+svg('star')
							a.button.button--green(href="#") #[span Add to cart] #[+svg('bag')]

					.col-sm-6.col-xl-4

						.shop-item.text-center
							.shop-item__favorite
								+svg('heart')
							.shop-item__badge.badge--new New
							.shop-item__img
								img.img--contain(src="img/shop_4.jpg", alt="img")
							h6.shop-item__title
								a(href="#") Delivery box
							.shop-item__price
								span $16.00
							ul.rating-list.justify-content-center
								li.rating-list__item
									+svg('star')
								li.rating-list__item
									+svg('star')
								li.rating-list__item
									+svg('star')
								li.rating-list__item
									+svg('star')
								li.rating-list__item.rating-list__item--disabled
									+svg('star')
							a.button.button--green(href="#") #[span Add to cart] #[+svg('bag')]

					.col-sm-6.col-xl-4

						.shop-item.text-center
							.shop-item__favorite
								+svg('heart')
							.shop-item__img
								img.img--contain(src="img/shop_1.jpg", alt="img")
							h6.shop-item__title
								a(href="#") Delivery box small
							.shop-item__price
								s $16.00
								span $14.00
							ul.rating-list.justify-content-center
								li.rating-list__item
									+svg('star')
								li.rating-list__item
									+svg('star')
								li.rating-list__item
									+svg('star')
								li.rating-list__item
									+svg('star')
								li.rating-list__item.rating-list__item--disabled
									+svg('star')
							a.button.button--green(href="#") #[span Add to cart] #[+svg('bag')]

					.col-sm-6.col-xl-4

						.shop-item.text-center
							.shop-item__favorite
								+svg('heart')
							.shop-item__img
								img.img--contain(src="img/shop_2.jpg", alt="img")
							h6.shop-item__title
								a(href="#") Delivery box big
							.shop-item__price
								span $16.00
							ul.rating-list.justify-content-center
								li.rating-list__item
									+svg('star')
								li.rating-list__item
									+svg('star')
								li.rating-list__item
									+svg('star')
								li.rating-list__item
									+svg('star')
								li.rating-list__item.rating-list__item--disabled
									+svg('star')
							a.button.button--green(href="#") #[span Add to cart] #[+svg('bag')]

					.col-sm-6.col-xl-4

						.shop-item.text-center
							.shop-item__favorite
								+svg('heart')
							.shop-item__img
								img.img--contain(src="img/shop_3.jpg", alt="img")
							h6.shop-item__title
								a(href="#") Delivery box
							.shop-item__price
								span $18.00
							ul.rating-list.justify-content-center
								li.rating-list__item
									+svg('star')
								li.rating-list__item
									+svg('star')
								li.rating-list__item
									+svg('star')
								li.rating-list__item
									+svg('star')
								li.rating-list__item.rating-list__item--disabled
									+svg('star')
							a.button.button--green(href="#") #[span Add to cart] #[+svg('bag')]

					.col-sm-6.col-xl-4

						.shop-item.text-center
							.shop-item__favorite
								+svg('heart')
							.shop-item__img
								img.img--contain(src="img/shop-5.jpg", alt="img")
							h6.shop-item__title
								a(href="#") Delivery box medium
							.shop-item__price
								span $18.00
							ul.rating-list.justify-content-center
								li.rating-list__item
									+svg('star')
								li.rating-list__item
									+svg('star')
								li.rating-list__item
									+svg('star')
								li.rating-list__item
									+svg('star')
								li.rating-list__item.rating-list__item--disabled
									+svg('star')
							a.button.button--green(href="#") #[span Add to cart] #[+svg('bag')]

				.row

					.col-12

						ul.pagination.list--reset
							li.pagination__item.pagination__item--prev
								span Back
							li.pagination__item.pagination__item--active
								span 1
							li.pagination__item
								span 2
							li.pagination__item
								span 3
							li.pagination__item
								span 4
							li.pagination__item
								span 5
							li.pagination__item.pagination__item--next
								span Next

			.col-lg-4.col-xl-3

				.aside-holder

					.shop__aside-close
						+svg('close')

					.shop-aside

						.row

							.col-lg-12.bottom-20

								form.form.search-form(action="javascript:void(0);")
									input.form__field(type="search" placeholder="Search...")
									button.form__submit(type="submit")
										+svg('search')

							.col-lg-12.bottom-50

								h5.catalog__title Categories

								ul.category-list.list--reset
									li.category-list__item.item--active
										a.category-list__link(href="#")
											span Delivery boxes
											span 12
									li.category-list__item 
										a.category-list__link(href="#")
											span Packing materials
											span 24
									li.category-list__item 
										a.category-list__link(href="#")
											span Wooden pallets
											span 06
									li.category-list__item 
										a.category-list__link(href="#")
											span Containers
											span 32

							.col-lg-12.bottom-50

								h5.catalog__title Filter by price

								form.form.range-form(action="javascript:void(0);" autocomplete="off")

									.range-slider
										input.js-range.range--shop(type="text" name="price")
										.range-slider__values
											.row.align-items-center

												.col-7.d-flex.align-items-center

													span.range-slider__text Price $:
													input.range-slider__input.range-slider__min(type="text" name="min-price" value="5" readonly)
													span.range-slider__separator -
													input.range-slider__input.range-slider__max(type="text" name="max-price" value="55" readonly)

												.col-5

													button.form__submit.button.button--green(type="submit")
														span Filter
														+svg('arrow')

							.col-lg-12.bottom-60

								h5.catalog__title Meet new arrivals

								.new-item

									.row.align-items-center

										.col-4

											.new-item__img
												img.img--contain(src="img/new_1.jpg" alt="img")

										.col-8

											.new-item__description
												h6.new-item__title
													a(href="#") Delivery box small
												span.new-item__price $14
												ul.rating-list
													li.rating-list__item
														+svg('star')
													li.rating-list__item
														+svg('star')
													li.rating-list__item
														+svg('star')
													li.rating-list__item
														+svg('star')
													li.rating-list__item.rating-list__item--disabled
														+svg('star')

								.new-item

									.row.align-items-center

										.col-4

											.new-item__img
												img.img--contain(src="img/new_2.jpg" alt="img")

										.col-8

											.new-item__description
												h6.new-item__title
													a(href="#") Delivery box big
												span.new-item__price $18
												ul.rating-list
													li.rating-list__item
														+svg('star')
													li.rating-list__item
														+svg('star')
													li.rating-list__item
														+svg('star')
													li.rating-list__item
														+svg('star')
													li.rating-list__item
														+svg('star')

								.new-item

									.row.align-items-center

										.col-4

											.new-item__img
												img.img--contain(src="img/new_3.jpg" alt="img")

										.col-8

											.new-item__description
												h6.new-item__title
													a(href="#") Delivery box medium
												span.new-item__price $16
												ul.rating-list
													li.rating-list__item
														+svg('star')
													li.rating-list__item
														+svg('star')
													li.rating-list__item
														+svg('star')
													li.rating-list__item.rating-list__item--disabled
														+svg('star')
													li.rating-list__item.rating-list__item--disabled
														+svg('star')

							.col-lg-12

								.contact-trigger.contact-trigger--style-2
									img.contact-trigger__img(src="img/contact_background.png", alt="img")
									h4.contact-trigger__title How we can help you!

									p.contact-trigger__text Ronquil coho salmon red snapper duckbill lungfish southern  angelfish

									+button--white('#', 'Contact us')

// catalog end