// section start

section.section.warehouse
	.container
		.row

			.col-lg-8.col-xl-9

				.row.bottom-20

					.col-12

						img.warehouse__img(src="img/warehouse_img.jpg", alt="img")

						h4.warehouse__title Inland Empire warehousing
						.warehouse__location #[+svg('pin')] #[strong 10359 Nobel Court, Jurupa Valley, CA]
						p Partnering with a third party logistics (3PL) company to manage your supply chain, gives you flexibility to focus on other areas of your business. We have buildings that can provide you with distribution, storage and warehouse services, inventory management, order fulfillment, and cross-docking and transloading services . . . and everything in-between! However, no matter the service that you require, it really comes down to our service commitment. Our warehouse customer service agents only want you to experience satisfaction.

				.row.bottom-50

					.col-sm-6.col-md-5.col-xl-4

						h5.warehouse__subtitle Industries served
						ul.list.list--check.list--reset
							li.list__item Consumer goods
							li.list__item Food & Beverage
							li.list__item Electronics

					.col-sm-6.col-md-5.col-xl-4.top-50.top-sm-0

						h5.warehouse__subtitle Services offered
						ul.list.list--check.list--reset
							li.list__item Shared warehousing
							li.list__item Crossdocking/Transloading
							li.list__item FBA Preaparation

				p Moonfish triplespine crocodile shark pipefish yellowhead jawfish largemouth bass, bullhead shark Black scabbardfish smalltooth sawfish. Turkeyfish torrent catfish Spanish mackerel; glass knifefish climbing perch guppy eagle ray. Candiru, cuchia velvetfish Australian herring bleak salmon? Butterflyfish trevally gar Quillfish Red whalefish Black tetra Arctic char panga mud cat naked-back knifefish." Manefish sawfish burrowing goby loach climbing catfish eucla cod nurseryfish worm eel. Cowfish ling skipjack tuna. Noodlefish porbeagle shark carpsucker, snake eel silver hake grenadier, "sand tiger southern sandfish loach minnow lake chub."Whiting grunion: sharksucker pigfish 
				p North American darter albacore sand eel hoki cobbler European chub sand goby, marblefish. European eel píntano yellow moray ponyfish frilled shark. Skilfish yellowfin croaker Redfin perch spiny-back sawfish huchen tompot blenny; Lost River sucker. 

				.row.offset-20.top-60

					.col-12

						.images-slider
							a.images-slider__item(href="img/slider_img.jpg" data-fancybox="gallery-2")
								img.img--bg(src="img/slider_img.jpg", alt="img")
							a.images-slider__item(href="img/slider_img-2.jpg" data-fancybox="gallery-2")
								img.img--bg(src="img/slider_img-2.jpg", alt="img")
							a.images-slider__item(href="img/slider_img.jpg" data-fancybox="gallery-2")
								img.img--bg(src="img/slider_img.jpg", alt="img")

						.images-slider__nav

			.col-lg-4.col-xl-3.top-70.top-lg-0

				.row

					.col-12.bottom-60

						h5.warehouse__subtitle Building information

						.row.offset-30

							.col-sm-6.col-md-4.col-lg-12

								.info-item
									.info-item__img
										+svg('shape')
									.info-item__details
										strong 154, 900 sqft
										span Size

							.col-sm-6.col-md-4.col-lg-12

								.info-item
									.info-item__img
										+svg('calendar')
									.info-item__details
										strong 2015
										span Year built

							.col-sm-6.col-md-4.col-lg-12

								.info-item
									.info-item__img
										+svg('thermometer')
									.info-item__details
										strong Temperature range
										span Ambient

							.col-sm-6.col-md-4.col-lg-12

								.info-item
									.info-item__img
										+svg('entrance')
									.info-item__details
										strong 28
										span Dock doors

							.col-sm-6.col-md-4.col-lg-12

								.info-item
									.info-item__img
										+svg('box')
									.info-item__details
										strong 25 ft upringhts
										span Racking height

							.col-sm-6.col-md-4.col-lg-12

								.info-item
									.info-item__img
										+svg('shower')
									.info-item__details
										strong ESFR
										span Spinkler system

							.col-sm-6.col-md-4.col-lg-12

								.info-item
									.info-item__img
										+svg('cctv')
									.info-item__details
										strong A-Trap compliant
										span Security

							.col-sm-6.col-md-4.col-lg-12

								.info-item
									.info-item__img
										+svg('clock')
									.info-item__details
										strong 5 am - 10:00 PM
										span Hours of opening

					.col-12

						.contact-trigger.contact-trigger--style-2
							img.contact-trigger__img(src="img/contact_background.png", alt="img")
							h4.contact-trigger__title How we can help you!
							p.contact-trigger__text Ronquil coho salmon red snapper duckbill lungfish southern  angelfish
							+button--white('#', 'Contact us')

// section end