// section start

section.section.service-details
	.container
		.row

			.col-lg-8.col-xl-9

				img.service-details__img(src="img/service-details_img.jpg", alt="img")

				h4.service-details__title Plane Freight

				p Eelblenny ghost pipefish, cusk-eel red snapper horsefish, South American darter sailbearer electric stargazer. Elephantnose fish stream catfish halosaur tripletail tilefish Russian sturgeon basslet weasel shark spotted danio. Crestfish stingray lenok leatherjacket Mexican golden trout cobia. Rock beauty sea toad; milkfish Atlantic cod panga Rainbow trout scaly dragonfish--Quillfish treefish basking shark suckermouth armored catfish. Old World rivuline loach goby; Red whalefish electric eel sauger, wahoo bluntnose minnow blue whiting stingfish alewife.
				p Sundaland noodlefish: man-of-war fish Blind shark shark bluntnose knifefish zingel perch pencilfish bobtail snipe eel. Pacific trout spinefoot gombessa dhufish bocaccio porgy capelin hillstream loach beaked salmon pigfish barbel telescopefish? Longfin dragonfish buri! Boarfish quillback ballan wrasse frogfish catfish ballan wrasse broadband dogfish, burma danio. Torpedo pollyfish dogfish shark redlip blenny saw shark Long-finned sand diver duckbill garibaldi; gouramie splitfin California halibut; sabertooth basking shark.
				
				.row.bottom-50.top-40

					.col-sm-6.col-md-5.col-xl-4

						h5.warehouse__subtitle Industries served
						ul.list.list--check.list--reset
							li.list__item Consumer goods
							li.list__item Food & Beverage
							li.list__item Electronics

					.col-sm-6.col-md-5.col-xl-4.top-50.top-sm-0

						h5.warehouse__subtitle Services offered
						ul.list.list--check.list--reset
							li.list__item Shared warehousing
							li.list__item Crossdocking/Transloading
							li.list__item FBA Preaparation

				p Grande perch speckled trout! Straptail taimen vimba barbelless catfish sawtooth eel scup perch burrowing goby. Siamese fighting fish Devario dogfish shark.
				p Moonfish triplespine crocodile shark pipefish yellowhead jawfish largemouth bass, bullhead shark Black scabbardfish smalltooth sawfish. Turkeyfish torrent catfish Spanish mackerel; glass knifefish climbing perch guppy eagle ray. Candiru, cuchia velvetfish Australian herring bleak salmon? Butterflyfish trevally gar Quillfish Red whalefish Black tetra Arctic char panga mud cat naked-back knifefish." Manefish sawfish burrowing goby loach climbing catfish eucla cod nurseryfish worm eel. Cowfish ling skipjack tuna. Noodlefish porbeagle shark carpsucker, snake eel silver hake grenadier, "sand tiger southern sandfish loach minnow lake chub."Whiting grunion: sharksucker pigfish 
				p North American darter albacore sand eel hoki cobbler European chub sand goby, marblefish. European eel píntano yellow moray ponyfish frilled shark. Skilfish yellowfin croaker Redfin perch spiny-back sawfish huchen tompot blenny; Lost River sucker. Yellow weaver northern clingfish sergeant major horn shark kelpfish, walking catfish Asiatic glassfish. Chubsucker; velvet-belly shark snailfish sailbearer wahoo moonfish blue danio, blue triggerfish slipmouth, "spikefish pike eel bat ray." Kokopu, panga: ropefish seahorclown triggerfish hawkfish snake mackerel.

				.row.top-40

					.col-12

						h5.service-details__subtitle Benefits

				.row.top-20.offset-30

					.col-sm-6.col-xl-4

						.service-benefits
							+svg('insurance')
							h6.service-benefits__title Cargo Insurance

					.col-sm-6.col-xl-4

						.service-benefits
							+svg('analitic')
							h6.service-benefits__title Business analytic

					.col-sm-6.col-xl-4

						.service-benefits
							+svg('boxi')
							h6.service-benefits__title Box checking

			.col-lg-4.col-xl-3.top-50.top-lg-0

				.row

					.col-md-6.col-lg-12.bottom-50

						h5.service-details__subtitle Main services

						ul.category-list.list--reset
							li.category-list__item.item--active
								a.category-list__link(href="#") Online Payment
							li.category-list__item 
								a.category-list__link(href="#") Special offers
							li.category-list__item 
								a.category-list__link(href="#") Online Tracking
							li.category-list__item 
								a.category-list__link(href="#") Warehouse
							li.category-list__item 
								a.category-list__link(href="#") Cargo Insurance
							li.category-list__item 
								a.category-list__link(href="#") Box Checking

					.col-md-6.col-lg-12.bottom-50

						h5.service-details__subtitle Other services

						a.other-service(href="#")
							img.img--bg(src="img/other_1.jpg", alt="img")
							h6.other-service__title Truck Freight
							span.other-service__count 01

						a.other-service(href="#")
							img.img--bg(src="img/other_2.jpg", alt="img")
							h6.other-service__title Train Freight
							span.other-service__count 02

						a.other-service(href="#")
							img.img--bg(src="img/other_3.jpg", alt="img")
							h6.other-service__title Ship Freight
							span.other-service__count 03

					.col-md-6.col-lg-12.bottom-60

						h5.service-details__subtitle Documents

						.document
							.document__img
								img(src="img/pdf.svg", alt="img")
							.document__details
								h6.document__title
									a(href="#" download) Company report 2019
								span.document__date November 2019

						.document
							.document__img
								img(src="img/docx.svg", alt="img")
							.document__details
								h6.document__title
									a(href="#" download) Company report 2019
								span.document__date November 2019

						.document
							.document__img
								img(src="img/docx.svg", alt="img")
							.document__details
								h6.document__title
									a(href="#" download) Company report 2019
								span.document__date November 2019

					.col-md-6.col-lg-12

						.contact-trigger.contact-trigger--style-2
							img.contact-trigger__img(src="img/contact_background.png", alt="img")
							h4.contact-trigger__title How we can help you!

							p.contact-trigger__text Ronquil coho salmon red snapper duckbill lungfish southern  angelfish

							+button--white('#', 'Contact us')

// section end