// footer start

footer.page-footer

	img.section--bg.b0.r0(src="img/footer-bg.png", alt="bg")

	.container
		.row

			.col-md-6.col-lg-4

				h6.page-footer__title.title--white Discover

				ul.page-footer__menu.list--reset
					li
						a(href="#") About us
					li
						a(href="#") Pricing plan
					li(class=(dest === "elements" ? "menu-item--active" : undefined))
						a(href="#") Elements
					li
						a(href="#") Team
					li
						a(href="#") Warehouse
					li
						a(href="#") Contact
					li
						a(href="#") Careers
					li(class=(page === "calculator" ? "menu-item--active" : undefined))
						a(href="#") Calculator
					li
						a(href="#") Site map
					li
						a(href="#") Services
					li(class=(page === "contacts" ? "menu-item--active" : undefined))
						a(href="#") Contact
					li(class=(page === "faq" ? "menu-item--active" : undefined))
						a(href="#") FAQ

			.col-md-6.col-lg-5.col-xl-4.offset-xl-1.top-40.top-md-0

				h6.page-footer__title.title--white USA office

				.page-footer__details

					p #[strong Location:] #[span av. Washington 165, NY CA 54003]
					p #[strong Phone:] #[a(href="tel:+31859644725") +31 85 964 47 25] #[a(href="tel:+31859644725") +31 65 792 63 11]
					p #[strong Email:] #[a(href="mailto:info@transx.com") info@transx.com]
					p #[strong Openning hours:] #[span 9:00 AM - 5:00 PM]

			.col-lg-3.d-flex.flex-column.justify-content-between.align-items-sm-center.align-items-lg-end.top-40.top-lg-0

				.page-footer__logo
					a(href="index.html")
						img(src="img/logo_white.png", alt="logo")

				ul.socials.list--reset
					li.socials__item
						a.socials__link(href="#") #[+svg('youtube')]
					li.socials__item
						a.socials__link(href="#") #[+svg('facebook')]
					li.socials__item
						a.socials__link(href="#") #[+svg('twitter')]
					li.socials__item
						a.socials__link(href="#") #[+svg('linkedin')]
					li.socials__item
						a.socials__link(href="#") #[+svg('inst')]

		.row.top-50

			.col-lg-6.text-sm-center.text-lg-left

				.page-footer__privacy
					a(href="#") Terms and conditions
					a(href="#") Privacy policy
					a(href="#") Cookies

			.col-lg-6.text-sm-center.text-lg-right

				.page-footer__copyright © 2020 TransX. All rights reserved

// footer end