// footer start

footer.page-footer.footer_3
	.container
		.row

			.col-md-6.col-lg-4

				.page-footer__logo
					a(href="index.html")
						img(src="img/logo_white.png", alt="logo")

				.page-footer__details

					p Silver dollar amur pike bullhead shark bigscale trevally cobia Black prickleback Bigscale pomfret rostrata dollar amur pike bullhead shark bigscale trevally cobia

			.col-md-6.col-lg-4.top-30.top-md-0

				h6.page-footer__title.title--white Discover

				ul.page-footer__menu.list--reset
					li
						a(href="#") About us
					li
						a(href="#") Pricing plan
					li(class=(dest === "elements" ? "menu-item--active" : undefined))
						a(href="#") Elements
					li
						a(href="#") Team
					li
						a(href="#") Warehouse
					li
						a(href="#") Contact
					li
						a(href="#") Careers
					li(class=(page === "calculator" ? "menu-item--active" : undefined))
						a(href="#") Calculator
					li
						a(href="#") Site map
					li
						a(href="#") Services
					li(class=(page === "contacts" ? "menu-item--active" : undefined))
						a(href="#") Contact
					li(class=(page === "faq" ? "menu-item--active" : undefined))
						a(href="#") FAQ

			.col-lg-4.top-30.top-lg-0

				h6.page-footer__title.title--white Newslatter

				form.form.newslatter-form(action="javascript:void(0);")
					.fieldset
						input.form__field(type="email" name="email" placeholder="Email address")
						button.form__submit(type="submit") #[+svg('mail')]
					p.color--gray Stay tuned for our latest news

		.row.top-50.flex-column-reverse.flex-sm-row

			.col-sm-6.col-lg-4.text-center.text-md-left.top-20.top-sm-0

				.page-footer__copyright © 2020 TransX. All rights reserved

			.col-lg-5.d-none.d-lg-block

				.page-footer__privacy
					a(href="#") Terms and conditions
					a(href="#") Privacy policy
					a(href="#") Cookies

			.col-sm-6.col-lg-3.text-center.text-md-right

				ul.socials.list--reset
					li.socials__item
						a.socials__link(href="#") #[+svg('youtube')]
					li.socials__item
						a.socials__link(href="#") #[+svg('facebook')]
					li.socials__item
						a.socials__link(href="#") #[+svg('twitter')]
					li.socials__item
						a.socials__link(href="#") #[+svg('linkedin')]
					li.socials__item
						a.socials__link(href="#") #[+svg('inst')]

// footer end