.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-analitic {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-arrow {
	font-size:(78.6/10)*1rem;
	width:(150/78.6)*1em;
}
.icon-bag {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-bootstrap {
	font-size:(32/10)*1rem;
	width:(174/32)*1em;
}
.icon-box {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-boxi {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-calendar {
	font-size:(60/10)*1rem;
	width:(60/60)*1em;
}
.icon-calendar_2 {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-cctv {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-check {
	font-size:(488.88/10)*1rem;
	width:(488.88/488.88)*1em;
}
.icon-chevron-left {
	font-size:(14/10)*1rem;
	width:(9/14)*1em;
}
.icon-chevron-right {
	font-size:(12/10)*1rem;
	width:(8/12)*1em;
}
.icon-clock {
	font-size:(612/10)*1rem;
	width:(612/612)*1em;
}
.icon-close {
	font-size:(47.97/10)*1rem;
	width:(47.97/47.97)*1em;
}
.icon-docx {
	font-size:(467/10)*1rem;
	width:(400/467)*1em;
}
.icon-download {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-entrance {
	font-size:(257.32/10)*1rem;
	width:(257.32/257.32)*1em;
}
.icon-eye {
	font-size:(488.85/10)*1rem;
	width:(488.85/488.85)*1em;
}
.icon-facebook {
	font-size:(1017.81/10)*1rem;
	width:(1024/1017.81)*1em;
}
.icon-file {
	font-size:(467/10)*1rem;
	width:(400/467)*1em;
}
.icon-filter {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-gulp {
	font-size:(46/10)*1rem;
	width:(76/46)*1em;
}
.icon-heart {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-inst {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-insurance {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-jquery {
	font-size:(38/10)*1rem;
	width:(134/38)*1em;
}
.icon-linkedin {
	font-size:(1911.2/10)*1rem;
	width:(2000/1911.2)*1em;
}
.icon-location {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-mail {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-node {
	font-size:(44/10)*1rem;
	width:(151/44)*1em;
}
.icon-pdf {
	font-size:(467/10)*1rem;
	width:(400/467)*1em;
}
.icon-phone {
	font-size:(384/10)*1rem;
	width:(384/384)*1em;
}
.icon-pin {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-plane {
	font-size:(189.5/10)*1rem;
	width:(497.8/189.5)*1em;
}
.icon-play {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-previous {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-question {
	font-size:(31.357/10)*1rem;
	width:(31.357/31.357)*1em;
}
.icon-remove {
	font-size:(348.334/10)*1rem;
	width:(348.333/348.334)*1em;
}
.icon-road_freight {
	font-size:(359.7/10)*1rem;
	width:(502.2/359.7)*1em;
}
.icon-search {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-shape {
	font-size:(93.85/10)*1rem;
	width:(93.849/93.85)*1em;
}
.icon-share {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-shipping {
	font-size:(335.1/10)*1rem;
	width:(501.4/335.1)*1em;
}
.icon-shower {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-sl_1 {
	font-size:(511/10)*1rem;
	width:(511/511)*1em;
}
.icon-sl_2 {
	font-size:(287.6/10)*1rem;
	width:(480/287.6)*1em;
}
.icon-sl_3 {
	font-size:(316/10)*1rem;
	width:(512/316)*1em;
}
.icon-sl_4 {
	font-size:(323.8/10)*1rem;
	width:(512/323.8)*1em;
}
.icon-star {
	font-size:(511/10)*1rem;
	width:(511/511)*1em;
}
.icon-support {
	font-size:(480/10)*1rem;
	width:(480/480)*1em;
}
.icon-thermometer {
	font-size:(581/10)*1rem;
	width:(581/581)*1em;
}
.icon-train {
	font-size:(55/10)*1rem;
	width:(100/55)*1em;
}
.icon-twitter {
	font-size:(216.715/10)*1rem;
	width:(266.667/216.715)*1em;
}
.icon-warehouse {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-warning {
	font-size:(489.42/10)*1rem;
	width:(489.42/489.42)*1em;
}
.icon-worldwide {
	font-size:(480.1/10)*1rem;
	width:(480.1/480.1)*1em;
}
.icon-youtube {
	font-size:(50/10)*1rem;
	width:(72/50)*1em;
}
