// header start

header.page-header_3
	.container-fluid
		.row.align-items-center

			.col-8.col-md-6.col-lg-3.d-flex.align-items-center

				.hamburger.d-none.d-md-inline-block(class=(style === "white" ? "hamburger--white" : undefined))
					.hamburger-inner

				.page-header__logo.logo--white
					a(href="index.html")
						img(src="img/logo_white.png", alt="logo")
				.page-header__logo.logo--dark
					a(href="index.html")
						img(src="img/logo_black.png", alt="logo")

			.col-lg-5.d-none.d-lg-flex.justify-content-center

				include ../_main-menu/_main-menu

			.col-4.col-md-6.col-lg-4.d-flex.justify-content-end.align-items-center

				.lang-block
					.lang-icon
						img.img--contain(src="img/gbr.png", alt="img")
					// lang select start
					ul.lang-select.lang-select--white
						li.lang-select__item.lang-select__item--active
							span En
							ul.lang-select__sub-list
								li
									a(href="#") French
								li
									a(href="#") Spanish
								li
									a(href="#") Deutsch
								li
									a(href="#") Russian
					// lang select end
				+button--filled("#", "Get a Quote")

				// menu-trigger start

				.hamburger.d-inline-block.d-md-none(class=(style === "white" ? "hamburger--white" : undefined))
					.hamburger-inner

				// menu-trigger end

// header end