// section start

section.section.front-gallery
	.container
		.row.align-items-end.bottom-60

			.col-lg-8

				.heading
					span.heading__pre-title Gallery
					h3.heading__title Our stunning gallery
					span.heading__layout Gallery
					p.heading__text Pacific hake false trevally queen parrotfish Black prickleback humuhumunukunukuapua'a mosshead warbonnet sweeper! Greenling sleeper; Owens pupfish large-eye bream kokanee sprat.


			.col-lg-4.text-right.d-none.d-lg-block

				+button--green('#', 'View all gallery')

	.gallery
		.row.no-gutters

			.col-md-6.col-lg-4.col-xl-3

				a.gallery__item(href="img/gallery_1.jpg" data-fancybox="gallery")
					span.overlay
					img.img--bg(src="img/gallery_1.jpg", alt="img")
					span.gallery__description Sea port

			.col-md-6.col-lg-4.col-xl-3

				a.gallery__item(href="img/gallery_2.jpg" data-fancybox="gallery")
					span.overlay
					img.img--bg(src="img/gallery_2.jpg", alt="img")
					span.gallery__description Sea port

			.col-md-6.col-lg-4.col-xl-3

				a.gallery__item(href="img/gallery_3.jpg" data-fancybox="gallery")
					span.overlay
					img.img--bg(src="img/gallery_3.jpg", alt="img")
					span.gallery__description Sea port

			.col-md-6.col-lg-4.col-xl-3

				a.gallery__item(href="img/gallery_4.jpg" data-fancybox="gallery")
					span.overlay
					img.img--bg(src="img/gallery_4.jpg", alt="img")
					span.gallery__description Sea port

			.col-md-6.col-lg-4.col-xl-3

				a.gallery__item(href="img/gallery_5.jpg" data-fancybox="gallery")
					span.overlay
					img.img--bg(src="img/gallery_5.jpg", alt="img")
					span.gallery__description Sea port

			.col-md-6.col-lg-4.col-xl-3

				a.gallery__item(href="img/gallery_6.jpg" data-fancybox="gallery")
					span.overlay
					img.img--bg(src="img/gallery_6.jpg", alt="img")
					span.gallery__description Sea port

			.col-md-6.col-lg-4.col-xl-3

				a.gallery__item(href="img/gallery_7.jpg" data-fancybox="gallery")
					span.overlay
					img.img--bg(src="img/gallery_7.jpg", alt="img")
					span.gallery__description Sea port

			.col-md-6.col-lg-4.col-xl-3

				a.gallery__item(href="img/gallery_8.jpg" data-fancybox="gallery")
					span.overlay
					img.img--bg(src="img/gallery_8.jpg", alt="img")
					span.gallery__description Sea port

		.row.top-50.d-block.d-lg-none

			.col-12.text-center

				+button--green('#', 'View all gallery')

// section end