// logos slider start

.logos-slider

	.logos-slider__item
		img(src="img/logo_1.png" alt="logo")

	.logos-slider__item
		img(src="img/logo_2.png" alt="logo")

	.logos-slider__item
		img(src="img/logo_3.png" alt="logo")

	.logos-slider__item
		img(src="img/logo_4.png" alt="logo")

.logos-slider__dots

// logos slider end