// section start

section.section.blog
	.container
		.row

			.col-lg-8.col-xl-9

				.row

					.col-md-6.col-xl-4

						.blog-item
							.blog-item__img
								img.img--bg(src="img/bl_1.jpg", alt="img")
							span.blog-item__category Warehouse
							h6.blog-item__title 
								a(href="#") Maintains positive momentum
							.blog-item__text Sherubfish lookdown catfish? Airbreathing catfish gurnard northern clingfish.
							.blog-item__details
								span 12 December 2019
								span 25 Comments

					.col-md-6.col-xl-4

						.blog-item
							.blog-item__img
								img.img--bg(src="img/bl_2.jpg", alt="img")
							span.blog-item__category Business
							h6.blog-item__title 
								a(href="#") Acquires 120 new vehicles
							.blog-item__text Sherubfish lookdown catfish? Airbreathing catfish gurnard northern clingfish.
							.blog-item__details
								span 12 December 2019
								span 25 Comments

					.col-md-6.col-xl-4

						.blog-item
							.blog-item__img
								img.img--bg(src="img/bl_3.jpg", alt="img")
							span.blog-item__category Delivery
							h6.blog-item__title 
								a(href="#") Colgate-Palmolive renews
							.blog-item__text Sherubfish lookdown catfish? Airbreathing catfish gurnard northern clingfish.
							.blog-item__details
								span 12 December 2019
								span 25 Comments

					.col-md-6.col-xl-4

						.blog-item
							.blog-item__img
								img.img--bg(src="img/bl_4.jpg", alt="img")
							span.blog-item__category Delivery
							h6.blog-item__title 
								a(href="#") Burts Potato Chips sizzle
							.blog-item__text Sherubfish lookdown catfish? Airbreathing catfish gurnard northern clingfish.
							.blog-item__details
								span 12 December 2019
								span 25 Comments

					.col-md-6.col-xl-4

						.blog-item
							.blog-item__img
								img.img--bg(src="img/bl_5.jpg", alt="img")
							span.blog-item__category Environment
							h6.blog-item__title 
								a(href="#") Expands into beauty industry
							.blog-item__text Sherubfish lookdown catfish? Airbreathing catfish gurnard northern clingfish.
							.blog-item__details
								span 12 December 2019
								span 25 Comments

					.col-md-6.col-xl-4

						.blog-item
							.blog-item__img
								img.img--bg(src="img/bl_6.jpg", alt="img")
							span.blog-item__category Transport
							h6.blog-item__title 
								a(href="#") Expand Transporterium
							.blog-item__text Sherubfish lookdown catfish? Airbreathing catfish gurnard northern clingfish.
							.blog-item__details
								span 12 December 2019
								span 25 Comments

					.col-md-6.col-xl-4

						.blog-item
							.blog-item__img
								img.img--bg(src="img/bl_1.jpg", alt="img")
							span.blog-item__category Warehouse
							h6.blog-item__title 
								a(href="#") Maintains positive momentum
							.blog-item__text Sherubfish lookdown catfish? Airbreathing catfish gurnard northern clingfish.
							.blog-item__details
								span 12 December 2019
								span 25 Comments

					.col-md-6.col-xl-4

						.blog-item
							.blog-item__img
								img.img--bg(src="img/bl_2.jpg", alt="img")
							span.blog-item__category Business
							h6.blog-item__title 
								a(href="#") Acquires 120 new vehicles
							.blog-item__text Sherubfish lookdown catfish? Airbreathing catfish gurnard northern clingfish.
							.blog-item__details
								span 12 December 2019
								span 25 Comments

					.col-md-6.col-xl-4

						.blog-item
							.blog-item__img
								img.img--bg(src="img/bl_3.jpg", alt="img")
							span.blog-item__category Delivery
							h6.blog-item__title 
								a(href="#") Colgate-Palmolive renews
							.blog-item__text Sherubfish lookdown catfish? Airbreathing catfish gurnard northern clingfish.
							.blog-item__details
								span 12 December 2019
								span 25 Comments

					.col-md-6.col-xl-4

						.blog-item
							.blog-item__img
								img.img--bg(src="img/bl_4.jpg", alt="img")
							span.blog-item__category Delivery
							h6.blog-item__title 
								a(href="#") Burts Potato Chips sizzle
							.blog-item__text Sherubfish lookdown catfish? Airbreathing catfish gurnard northern clingfish.
							.blog-item__details
								span 12 December 2019
								span 25 Comments

					.col-md-6.col-xl-4

						.blog-item
							.blog-item__img
								img.img--bg(src="img/bl_5.jpg", alt="img")
							span.blog-item__category Environment
							h6.blog-item__title 
								a(href="#") Expands into beauty industry
							.blog-item__text Sherubfish lookdown catfish? Airbreathing catfish gurnard northern clingfish.
							.blog-item__details
								span 12 December 2019
								span 25 Comments

					.col-md-6.col-xl-4

						.blog-item
							.blog-item__img
								img.img--bg(src="img/bl_6.jpg", alt="img")
							span.blog-item__category Transport
							h6.blog-item__title 
								a(href="#") Expand Transporterium
							.blog-item__text Sherubfish lookdown catfish? Airbreathing catfish gurnard northern clingfish.
							.blog-item__details
								span 12 December 2019
								span 25 Comments

				.row

					.col-12

						ul.pagination.list--reset
							li.pagination__item.pagination__item--prev
								span Back
							li.pagination__item.pagination__item--active
								span 1
							li.pagination__item
								span 2
							li.pagination__item
								span 3
							li.pagination__item
								span 4
							li.pagination__item
								span 5
							li.pagination__item.pagination__item--next
								span Next

			.col-lg-4.col-xl-3.top-70.top-lg-0

				.row

					.col-md-6.col-lg-12.bottom-50

						h5.blog__title Categories

						ul.category-list.list--reset
							li.category-list__item.item--active
								a.category-list__link(href="#")
									span Brand new  transport
									span 12
							li.category-list__item 
								a.category-list__link(href="#")
									span Features of our delivery
									span 24
							li.category-list__item 
								a.category-list__link(href="#")
									span Why exactly warehouses?
									span 06
							li.category-list__item 
								a.category-list__link(href="#")
									span New development strategy
									span 32

					.col-md-6.col-lg-12.bottom-50

						h5.blog__title Latest news

						.latest-item
							.latest-item__img
								img.img--bg(src="img/lat_1.jpg", alt="img")
							.latest-item__details
								h6.latest-item__title
									a(href="#") Cargo Flow Better
								span.latest-item__date 12 December 2019

						.latest-item
							.latest-item__img
								img.img--bg(src="img/lat_2.jpg", alt="img")
							.latest-item__details
								h6.latest-item__title
									a(href="#") Importers Achieve Cost
								span.latest-item__date 12 December 2019

						.latest-item
							.latest-item__img
								img.img--bg(src="img/lat_3.jpg", alt="img")
							.latest-item__details
								h6.latest-item__title
									a(href="#") Efficient Warehouse
								span.latest-item__date 12 December 2019

						.latest-item
							.latest-item__img
								img.img--bg(src="img/lat_4.jpg", alt="img")
							.latest-item__details
								h6.latest-item__title
									a(href="#") New Additions Trucks 
								span.latest-item__date 12 December 2019

					.col-md-6.col-lg-12.bottom-50

						h5.blog__title Archive

						ul.category-list.list--reset
							li.category-list__item
								a.category-list__link(href="#")
									span August 2019
									span 21
							li.category-list__item 
								a.category-list__link(href="#")
									span September 2019
									span 13
							li.category-list__item 
								a.category-list__link(href="#")
									span October 2019
									span 15
							li.category-list__item 
								a.category-list__link(href="#")
									span November 2019
									span 35

					.col-md-6.col-lg-12.bottom-50

						h5.blog__title
							span Instagram
							span #[+svg('inst')]

						.instagram
							a.instagram__item(href="#")
								.instagram__img
									img.img--bg(src="img/ig-1.jpg" alt="ig")
							a.instagram__item(href="#")
								.instagram__img
									img.img--bg(src="img/ig-2.jpg" alt="ig")
							a.instagram__item(href="#")
								.instagram__img
									img.img--bg(src="img/ig-3.jpg" alt="ig")
							a.instagram__item(href="#")
								.instagram__img
									img.img--bg(src="img/ig-4.jpg" alt="ig")
							a.instagram__item(href="#")
								.instagram__img
									img.img--bg(src="img/ig-5.jpg" alt="ig")
							a.instagram__item(href="#")
								.instagram__img
									img.img--bg(src="img/ig-6.jpg" alt="ig")

					.col-md-6.col-lg-12.bottom-50

						h5.blog__title Tags

						a.tag(href="#") #Transport 
						a.tag(href="#") #Business 
						a.tag(href="#") #Back 
						a.tag(href="#") #Environment 
						a.tag(href="#") #Warehouse

					.col-md-6.col-lg-12

						.contact-trigger.contact-trigger--style-2
							img.contact-trigger__img(src="img/contact_background.png", alt="img")
							h4.contact-trigger__title How we can help you!
							p.contact-trigger__text Ronquil coho salmon red snapper duckbill lungfish southern  angelfish
							+button--white('#', 'Contact us')

// section end