include ../mixins/_mixins

<!DOCTYPE html>
html(lang="en")

	block variables

	head

		include ../blocks/_head/_head

	body

		.page-wrapper


			include ../blocks/_menu-dropdown/_menu-dropdown

			include ../blocks/_header_2/_header_2

			main.main

				block main

			include ../blocks/_footer_2/_footer_2

		include ../blocks/_scripts/_scripts