include ../mixins/_mixins

<!DOCTYPE html>
html(lang="en")

	block variables

	head

		include ../blocks/_head/_head

	body

		.page-wrapper


			include ../blocks/_menu-dropdown/_menu-dropdown

			include ../blocks/_header_3/_header_3

			main.main

				block main

			include ../blocks/_footer_3/_footer_3

		include ../blocks/_scripts/_scripts