extends ../layouts/primary.pug

block variables

	-var page = 'icons'

	-var dest = 'elements'

block main

	// section start

	section.hero-block

		picture
			source(srcset='img/accordion-bg.jpg' media='(min-width: 992px)')
			img.img--bg(src='img/accordion-bg.jpg' alt='img')

		+hero-inner('Icons', 'TransX')

	// section end

	// section start

	section.section
		.container
			.row.bottom-40

				.col-12

					h3.bottom-0 Variant 1

			.row

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img.icon-item__img--big
							img(src="img/pack_1/i1.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 1

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img.icon-item__img--big
							img(src="img/pack_1/i2.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 2

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img.icon-item__img--big
							img(src="img/pack_1/i3.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 3

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img.icon-item__img--big
							img(src="img/pack_1/i4.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 4

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img.icon-item__img--big
							img(src="img/pack_1/i5.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 5

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img.icon-item__img--big
							img(src="img/pack_1/i6.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 6

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img.icon-item__img--big
							img(src="img/pack_1/i7.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 7

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img.icon-item__img--big
							img(src="img/pack_1/i8.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 8

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img.icon-item__img--big
							img(src="img/pack_1/i10.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 9

	// section end

	// section start

	section.section.pt-0
		.container
			.row.bottom-40

				.col-12

					h3.bottom-0 Variant 2

			.row

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img.icon-item__img--big
							img(src="img/pack_2/i1.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 1

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img.icon-item__img--big
							img(src="img/pack_2/i2.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 2

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img.icon-item__img--big
							img(src="img/pack_2/i3.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 3

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img.icon-item__img--big
							img(src="img/pack_2/i4.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 4

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img.icon-item__img--big
							img(src="img/pack_2/i5.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 5

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img.icon-item__img--big
							img(src="img/pack_2/i6.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 6

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img.icon-item__img--big
							img(src="img/pack_2/i7.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 7

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img.icon-item__img--big
							img(src="img/pack_2/i8.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 8

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img.icon-item__img--big
							img(src="img/pack_2/i9.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 9

	// section end

	// section start

	section.section.pt-0
		.container
			.row.bottom-40

				.col-12

					h3.bottom-0 Variant 3

			.row

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img.icon-item__img--small.justify-content-center
							img(src="img/pack_3/i1.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 1

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img.icon-item__img--small.justify-content-center
							img(src="img/pack_3/i2.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 2

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img.icon-item__img--small.justify-content-center
							img(src="img/pack_3/i3.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 3

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img.icon-item__img--small.justify-content-center
							img(src="img/pack_3/i4.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 4

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img.icon-item__img--small.justify-content-center
							img(src="img/pack_3/i5.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 5

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img.icon-item__img--small.justify-content-center
							img(src="img/pack_3/i6.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 6

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img.icon-item__img--small.justify-content-center
							img(src="img/pack_3/i7.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 7

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img.icon-item__img--small.justify-content-center
							img(src="img/pack_3/i8.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 8

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img.icon-item__img--small.justify-content-center
							img(src="img/pack_3/i9.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 9

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img.icon-item__img--small.justify-content-center
							img(src="img/pack_3/i10.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 10

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img.icon-item__img--small.justify-content-center
							img(src="img/pack_3/i11.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 11

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img.icon-item__img--small.justify-content-center
							img(src="img/pack_3/i12.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 12

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img.icon-item__img--small.justify-content-center
							img(src="img/pack_3/i13.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 13

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img.icon-item__img--small.justify-content-center
							img(src="img/pack_3/i14.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 14

	// section end

	// section start

	section.section.pt-0
		.container
			.row.bottom-40

				.col-12

					h3.bottom-0 Variant 4

			.row

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img
							img(src="img/pack_4/i1.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 1

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img
							img(src="img/pack_4/i2.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 2

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img
							img(src="img/pack_4/i3.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 3

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img
							img(src="img/pack_4/i4.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 4

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img
							img(src="img/pack_4/i5.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 5

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img
							img(src="img/pack_4/i6.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 6

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img
							img(src="img/pack_4/i7.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 7

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img
							img(src="img/pack_4/i8.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 8

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img
							img(src="img/pack_4/i9.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 9

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img
							img(src="img/pack_4/i10.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 10

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img
							img(src="img/pack_4/i11.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 11

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img
							img(src="img/pack_4/i12.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 12

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img
							img(src="img/pack_4/i13.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 13

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img
							img(src="img/pack_4/i14.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 14

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img
							img(src="img/pack_4/i15.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 15

	// section end

	// section start

	section.section.pt-0
		.container
			.row.bottom-40

				.col-12

					h3.bottom-0 Variant 5

			.row

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img.icon-item__img--small.justify-content-center
							img(src="img/pack_5/i1.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 1

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img.icon-item__img--small.justify-content-center
							img(src="img/pack_5/i2.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 2

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img.icon-item__img--small.justify-content-center
							img(src="img/pack_5/i3.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 3

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img.icon-item__img--small.justify-content-center
							img(src="img/pack_5/i4.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 4

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img.icon-item__img--small.justify-content-center
							img(src="img/pack_5/i5.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 5

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img.icon-item__img--small.justify-content-center
							img(src="img/pack_5/i6.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 6

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img.icon-item__img--small.justify-content-center
							img(src="img/pack_5/i7.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 7

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img.icon-item__img--small.justify-content-center
							img(src="img/pack_5/i8.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 8

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img.icon-item__img--small.justify-content-center
							img(src="img/pack_5/i9.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 9

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img.icon-item__img--small.justify-content-center
							img(src="img/pack_5/i10.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 10

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img.icon-item__img--small.justify-content-center
							img(src="img/pack_5/i11.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 11

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img.icon-item__img--small.justify-content-center
							img(src="img/pack_5/i12.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 12

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img.icon-item__img--small.justify-content-center
							img(src="img/pack_5/i13.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 13

	// section end

	// section start

	section.section.pt-0
		.container
			.row.bottom-40

				.col-12

					h3.bottom-0 Variant 6

			.row

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img
							img(src="img/pack_6/i1.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 1

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img
							img(src="img/pack_6/i2.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 2

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img
							img(src="img/pack_6/i3.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 3

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img
							img(src="img/pack_6/i4.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 4

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img
							img(src="img/pack_6/i5.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 5

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img
							img(src="img/pack_6/i6.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 6

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img
							img(src="img/pack_6/i7.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 7

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img
							img(src="img/pack_6/i8.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 8

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img
							img(src="img/pack_6/i9.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 9

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img
							img(src="img/pack_6/i10.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 10

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img
							img(src="img/pack_6/i11.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 11

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img
							img(src="img/pack_6/i12.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 12

	// section end

	// section start

	section.section.pt-0
		.container
			.row.bottom-40

				.col-12

					h3.bottom-0 Variant 7

			.row

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img
							img(src="img/pack_7/i1.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 1

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img
							img(src="img/pack_7/i2.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 2

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img
							img(src="img/pack_7/i3.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 3

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img
							img(src="img/pack_7/i4.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 4

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img
							img(src="img/pack_7/i5.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 5

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img
							img(src="img/pack_7/i6.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 6

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img
							img(src="img/pack_7/i7.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 7

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img
							img(src="img/pack_7/i8.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 8

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img
							img(src="img/pack_7/i9.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 9

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img
							img(src="img/pack_7/i10.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 10

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img
							img(src="img/pack_7/i11.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 11

				.col-6.col-md-4.col-xl-3.text-center

					.icon-item

						.icon-item__img
							img(src="img/pack_7/i12.svg", alt="icon")

						h6.icon-item__title.bottom-0 Icon 12

	// section end