extends ../layouts/shop.pug

block variables

	-var page = 'checkout'

	-var dest = 'shop'

block main

	// section start

	section.hero-block

		picture
			source(srcset='img/service-details.jpg' media='(min-width: 992px)')
			img.img--bg(src='img/service-details.jpg' alt='img')

		+hero-inner('Shop Checkout', 'TransX')

	// section end

	// section start

	section.section
		.container
			.row

				.col-12

					include ../blocks/_checkout/_checkout

	// section end