extends ../layouts/primary.pug

block variables

	-var page = 'trucks'

	-var dest = 'pages'

block main

	// section start

	section.hero-block

		picture
			source(srcset='img/about_bg.jpg' media='(min-width: 992px)')
			img.img--bg(src='img/about_bg.jpg' alt='img')

		+hero-inner('Our Trucks', 'TransX')

	// section end

	// section start

	section.section
		.container
			.row.flex-column-reverse.flex-xl-row.align-items-end

				.col-xl-6.top-50.top-xl-0

					.heading.bottom-20
						span.heading__pre-title Freightliner
						h3.heading__title Cascadia  Evolution
					
					p.bottom-0 Southern flounder trench whiff quillback bluntnose knifefish smelt, Black mackerel oceanic whitetip shark. Filefish electric knifefish discus herring Siamese fish elephant fish, pollock jewel tetra.

					.row.top-40

						.col-sm-6.col-lg-5.col-xl-6

							h6.bottom-20 Features

							ul.list.list--check.list--reset
								li.list__item Roll Over Stability Control
								li.list__item Lane Departure Control
								li.list__item Sirius/XM Enabled Additional
								li.list__item Qualcomm Omnitracs

						.col-sm-6.col-lg-5.col-xl-6.top-40.top-sm-0

							h6.bottom-20 Truck info

							ul.list.truck-list.list--reset
								li.list__item #[strong Model:] #[span Cascadia]
								li.list__item #[strong Engine:] #[span Detroit DD15]
								li.list__item #[strong Sleeper:] #[span 72 full-size condo]
								li.list__item #[strong Transmission:] #[span 12 Speed Auto]

				.col-xl-6.text-center.text-xl-left

					img.truck-img(src="img/car_1.png", alt="img")

	// section end

	// section start

	section.section.bg--lgray
		.container
			.row.align-items-end

				.col-xl-6.text-center.text-xl-left

					img.truck-img(src="img/car_2.png", alt="img")

				.col-xl-6.top-50.top-xl-0

					.heading.bottom-20
						span.heading__pre-title Freightliner
						h3.heading__title Cascadia  Evolution mid-roof
					
					p.bottom-0 Powen dottyback jewelfish jackfish Asiatic glassfish; yellow tang, "stonefish Pacific albacore needlefish spiderfish, devil ray." Tope deepwater cardinalfish tapetail southern smelt bream smelt-whiting amur.

					.row.top-40

						.col-sm-6.col-lg-5.col-xl-6

							h6.bottom-20 Features

							ul.list.list--check.list--reset
								li.list__item Roll Over Stability Control
								li.list__item Lane Departure Control
								li.list__item Sirius/XM Enabled Additional
								li.list__item Qualcomm Omnitracs

						.col-sm-6.col-lg-5.col-xl-6.top-40.top-sm-0

							h6.bottom-20 Truck info

							ul.list.truck-list.list--reset
								li.list__item #[strong Model:] #[span Cascadia]
								li.list__item #[strong Engine:] #[span Detroit DD15]
								li.list__item #[strong Sleeper:] #[span 72 full-size condo]
								li.list__item #[strong Transmission:] #[span 12 Speed Auto]

	// section end

	// section start

	section.section
		.container
			.row.flex-column-reverse.flex-xl-row.align-items-end

				.col-xl-6.top-50.top-xl-0

					.heading.bottom-20
						span.heading__pre-title Freightliner
						h3.heading__title Cascadia  Evolution
					
					p.bottom-0 Southern flounder trench whiff quillback bluntnose knifefish smelt, Black mackerel oceanic whitetip shark. Filefish electric knifefish discus herring Siamese fish elephant fish, pollock jewel tetra.

					.row.top-40

						.col-sm-6.col-lg-5.col-xl-6

							h6.bottom-20 Features

							ul.list.list--check.list--reset
								li.list__item Roll Over Stability Control
								li.list__item Lane Departure Control
								li.list__item Sirius/XM Enabled Additional
								li.list__item Qualcomm Omnitracs

						.col-sm-6.col-lg-5.col-xl-6.top-30.top-sm-0

							h6.bottom-20 Truck info

							ul.list.truck-list.list--reset
								li.list__item #[strong Model:] #[span Cascadia]
								li.list__item #[strong Engine:] #[span Detroit DD15]
								li.list__item #[strong Sleeper:] #[span 72 full-size condo]
								li.list__item #[strong Transmission:] #[span 12 Speed Auto]

				.col-xl-6.text-center.text-xl-left

					img.truck-img(src="img/car_1.png", alt="img")

	// section end