// section start

section.section.blog-post
	.container
		.row

			.col-lg-8.col-xl-9

				.row

					.col-12

						img.blog-post__img(src="img/blog-post_img.jpg", alt="img")

						h4.blog-post__title New logistic plan

						p Eelblenny ghost pipefish, cusk-eel red snapper horsefish, South American darter sailbearer electric stargazer. Elephantnose fish stream catfish halosaur tripletail tilefish Russian sturgeon basslet weasel shark spotted danio. Crestfish stingray lenok leatherjacket Mexican golden trout cobia. Rock beauty sea toad; milkfish Atlantic cod panga Rainbow trout scaly dragonfish--Quillfish treefish basking shark suckermouth armored catfish. Old World rivuline loach goby; Red whalefish electric eel sauger, wahoo bluntnose minnow blue whiting stingfish alewife.
						p Sundaland noodlefish: man-of-war fish Blind shark shark bluntnose knifefish zingel perch pencilfish bobtail snipe eel. Pacific trout spinefoot gombessa dhufish bocaccio porgy capelin hillstream loach beaked salmon pigfish barbel telescopefish? Longfin dragonfish buri! Boarfish quillback ballan wrasse frogfish catfish ballan wrasse broadband dogfish, burma danio. Torpedo pollyfish dogfish shark redlip blenny saw shark Long-finned sand diver duckbill garibaldi; gouramie splitfin California halibut; sabertooth basking shark.
						p Grande perch speckled trout! Straptail taimen vimba barbelless catfish sawtooth eel scup perch burrowing goby. Siamese fighting fish Devario dogfish shark.
						p.text-filled Rockling Devario deep sea bonefish cutthroat trout streamer fish kaluga sailback scorpionfish sand dab, turkeyfish golden loach sand diver. Leopard danio píntano bonnetmouth; blue whiting, suckermouth armored catfish luderick blackchin.
						p #[strong Elephantnose fish stream catfish halosaur tripletail tilefish Russian sturgeon basslet weasel shark spotted danio. Crestfish stingray lenok.]
						p Moonfish triplespine crocodile shark pipefish yellowhead jawfish largemouth bass, bullhead shark Black scabbardfish smalltooth sawfish. Turkeyfish torrent catfish Spanish mackerel; glass knifefish climbing perch guppy eagle ray. Candiru, cuchia velvetfish Australian herring bleak salmon? Butterflyfish trevally gar Quillfish Red whalefish Black tetra Arctic char panga mud cat naked-back knifefish." Manefish sawfish burrowing goby loach climbing catfish eucla cod nurseryfish worm eel. Cowfish ling skipjack tuna. Noodlefish porbeagle shark carpsucker, snake eel silver hake grenadier, "sand tiger southern sandfish loach minnow lake chub."Whiting grunion: sharksucker pigfish Pickerel dorado, píntano bonytail chub.

				.row.top-20

					.col-6

						.blog-post__date 2 December 2019

					.col-6.text-right

						a.blog-post__comments-count(href="#") 3 comments

				.row.top-50

					.col-12

						.blog-post__author
							.row.align-items-center

								.col-md-3.text-center.text-md-left

									strong Jack Nicholson

								.col-md-6.text-center

									a.tag(href="#") #Transport 
									a.tag(href="#") #Business 
									a.tag(href="#") #Delivery

								.col-md-3.text-center.text-md-right

									ul.socials.socials--blue.list--reset
										li.socials__item
											a.socials__link(href="#") #[+svg('facebook')]
										li.socials__item
											a.socials__link(href="#") #[+svg('twitter')]
										li.socials__item
											a.socials__link(href="#") #[+svg('linkedin')]

				.row.top-60

					.col-12

						.comments

							h5.comments__title Comments

							.comments__item
								.comments__item-img
									img.img--bg(src="img/author_1.png", alt="img")
								.comments__item-description
									.row.align-items-center

										.col-6

											span.comments__item-name Stevie Wonder

										.col-6.text-right

											span.comments__item-action
												+svg('previous')

										.col-12

											.comments__item-text
												p Grande perch speckled trout! Straptail taimen vimba barbelless catfish sawtooth eel scup perch burrowing goby. Siamese fighting fish Devario dogfish
												span.comments__item-date 2 December 2019

							.comments__item
								.comments__item-img
									img.img--bg(src="img/author_2.png", alt="img")
								.comments__item-description
									.row.align-items-center

										.col-6

											span.comments__item-name Alex Morgan

										.col-6.text-right

											span.comments__item-action
												+svg('previous')

										.col-12

											.comments__item-text
												p Grande perch speckled trout! Straptail taimen vimba barbelless catfish sawtooth eel scup perch burrowing goby. Siamese fighting fish Devario dogfish
												span.comments__item-date 6 December 2019

								.comments__item.comments__item--sub
									.comments__item-img
										img.img--bg(src="img/author_3.png", alt="img")
									.comments__item-description
										.row.align-items-center

											.col-6

												span.comments__item-name Michel Poop

											.col-6.text-right

												span.comments__item-action
													+svg('previous')

											.col-12

												.comments__item-text
													p Grande perch speckled trout! Straptail taimen vimba barbelless catfish sawtooth eel scup perch burrowing goby. Siamese fighting fish Devario dogfish
													span.comments__item-date 12 December 2019

				.row.top-50

					.col-12

						h5.blog-post__subtitle Send review

						form.review-form(action="javascript:void(0);")
							.row

								.col-md-6

									input.form__field(type="text" name="name" placeholder="Your Name")

								.col-md-6

									input.form__field(type="email" name="email" placeholder="Your Email")

								.col-12

									textarea.form__field.form__message.message--large(name="message" placeholder="Text")

								.col-12

									button.button.button--green(type="submit") #[span Send review] #[+svg('arrow')]

			.col-lg-4.col-xl-3.top-70.top-lg-0

				.row

					.col-md-6.col-lg-12.bottom-50

						h5.blog-post__subtitle Categories

						ul.category-list.list--reset
							li.category-list__item.item--active
								a.category-list__link(href="#")
									span Brand new  transport
									span 12
							li.category-list__item 
								a.category-list__link(href="#")
									span Features of our delivery
									span 24
							li.category-list__item 
								a.category-list__link(href="#")
									span Why exactly warehouses?
									span 06
							li.category-list__item 
								a.category-list__link(href="#")
									span New development strategy
									span 32

					.col-md-6.col-lg-12.bottom-50

						h5.blog-post__subtitle Latest news

						.latest-item
							.latest-item__img
								img.img--bg(src="img/lat_1.jpg", alt="img")
							.latest-item__details
								h6.latest-item__title
									a(href="#") Cargo Flow Better
								span.latest-item__date 12 December 2019

						.latest-item
							.latest-item__img
								img.img--bg(src="img/lat_2.jpg", alt="img")
							.latest-item__details
								h6.latest-item__title
									a(href="#") Importers Achieve Cost
								span.latest-item__date 12 December 2019

						.latest-item
							.latest-item__img
								img.img--bg(src="img/lat_3.jpg", alt="img")
							.latest-item__details
								h6.latest-item__title
									a(href="#") Efficient Warehouse
								span.latest-item__date 12 December 2019

						.latest-item
							.latest-item__img
								img.img--bg(src="img/lat_4.jpg", alt="img")
							.latest-item__details
								h6.latest-item__title
									a(href="#") New Additions Trucks 
								span.latest-item__date 12 December 2019

					.col-md-6.col-lg-12.bottom-50

						h5.blog-post__subtitle Archive

						ul.category-list.list--reset
							li.category-list__item
								a.category-list__link(href="#")
									span August 2019
									span 21
							li.category-list__item 
								a.category-list__link(href="#")
									span September 2019
									span 13
							li.category-list__item 
								a.category-list__link(href="#")
									span October 2019
									span 15
							li.category-list__item 
								a.category-list__link(href="#")
									span November 2019
									span 35

					.col-md-6.col-lg-12.bottom-50

						h5.blog-post__subtitle
							span Instagram
							span #[+svg('inst')]

						.instagram
							a.instagram__item(href="#")
								.instagram__img
									img.img--bg(src="img/ig-1.jpg" alt="ig")
							a.instagram__item(href="#")
								.instagram__img
									img.img--bg(src="img/ig-2.jpg" alt="ig")
							a.instagram__item(href="#")
								.instagram__img
									img.img--bg(src="img/ig-3.jpg" alt="ig")
							a.instagram__item(href="#")
								.instagram__img
									img.img--bg(src="img/ig-4.jpg" alt="ig")
							a.instagram__item(href="#")
								.instagram__img
									img.img--bg(src="img/ig-5.jpg" alt="ig")
							a.instagram__item(href="#")
								.instagram__img
									img.img--bg(src="img/ig-6.jpg" alt="ig")

					.col-md-6.col-lg-12.bottom-50

						h5.blog-post__subtitle Tags

						a.tag(href="#") #Transport 
						a.tag(href="#") #Business 
						a.tag(href="#") #Back 
						a.tag(href="#") #Environment 
						a.tag(href="#") #Warehouse

					.col-md-6.col-lg-12

						.contact-trigger.contact-trigger--style-2
							img.contact-trigger__img(src="img/contact_background.png", alt="img")
							h4.contact-trigger__title How we can help you!
							p.contact-trigger__text Ronquil coho salmon red snapper duckbill lungfish southern  angelfish
							+button--white('#', 'Contact us')

// section end