// section start

section.section.bg--lgray.front-blog
	.container
		.row

			.col-xl-4.d-flex.flex-column.align-items-start

				.heading
					span.heading__pre-title Blog
					h3.heading__title Our latest articles #[span.color--green daily] update
					span.heading__layout.layout--lgray Blog

				a.d-none.d-xl-inline-block.button.button--green(href="#") #[span Viev more] #[+svg('arrow')]

				.articles-slider__nav

			.col-xl-8

				.articles-slider-wrapper

					.articles-slider
						.articles-slider__item

							.article
								.article__img
									img.img--bg(src="img/bl_1.jpg", alt="img")
								.article__lower
									h6.article__title
										a(href="#") What is 3D printing ?
									p.article__text Yellowfin surgeonfish bonefish Australasian salmon tenuis, barreleye brook lamprey European chub ridgehead, sea catfish filefish sea chub
									.article__details
										span 20 October, 2019
										span 12 comments

						.articles-slider__item

							.article
								.article__img
									img.img--bg(src="img/article_2.jpg", alt="img")
								.article__lower
									h6.article__title
										a(href="#") New subway line
									p.article__text Bramble shark slickhead archerfish Black angelfish marblefish bigeye walleye fire bar danio silver driftfish pelagic cod. Wolf-herring spaghetti eel
									.article__details
										span 20 October, 2019
										span 12 comments

						.articles-slider__item

							.article
								.article__img
									img.img--bg(src="img/article_3.jpg", alt="img")
								.article__lower
									h6.article__title
										a(href="#") Importers achieve cost savings
									p.article__text Kokanee sprat shrimpfish. Pacific hake false trevally queen parrotfish Black prickleback humuhumunukunukuapua'a mosshead warbonnet !
									.article__details
										span 20 October, 2019
										span 12 comments

						.articles-slider__item

							.article
								.article__img
									img.img--bg(src="img/article_2.jpg", alt="img")
								.article__lower
									h6.article__title
										a(href="#") What is 3D printing ?
									p.article__text Yellowfin surgeonfish bonefish Australasian salmon tenuis, barreleye brook lamprey European chub ridgehead, sea catfish filefish sea chub
									.article__details
										span 20 October, 2019
										span 12 comments

				.row.top-50.d-block.d-xl-none

					.col-12.text-center

						+button--green('#', 'View more')

// section end