// section start

section.section.front-features.color--white
	.front-features__bg.bg--dgray
		img.bg--center(src="img/map-bg.png", alt="img")

	.container
		.row

			.col-lg-4

				.heading.heading--white
					span.heading__pre-title About us
					h3.heading__title Powerfull Features of Transporterium
					span.heading__layout.layout--dgray About

				a.js-video.video-block.video-block--style-2(href="https://www.youtube.com/watch?v=hSbVJ4y6I-8")
					img.img--bg(src="img/video-block_2.jpg", alt="img")
					.video-block__inner
						span.video-icon
							+svg('play')

			.col-lg-8.col-xl-7.offset-xl-1.top-50.top-lg-0

				p Giant gourami grunt sculpin yellowfin cutthroat trout rocket danio rockling scythe butterfish shortnose sucker zebra bullhead shark?
				p Zingel stonefish barb-cherry salmon rudderfish whale catfish pink salmon brook lamprey European perch yellow bass spookfish Blacksmelt airbreathing catfishevil ray.
				p Coelacanth loosejaw lefteye flounder slipmouth airsac catfish slender barracudina jack. Hillstream loach tadpole cod orangestriped triggerfish zebra pleco gurnard tadpole cod. Round whitefish, "burrowing goby shark. Queen stingfish midshipman golden loach

				+button--green('#', 'Read more')

				.row.top-70.offset-50

					.col-sm-6.col-md-4

						+counter--green('50', 'k', 'Delivered packeges')

					.col-sm-6.col-md-4

						+counter--green('100', '', 'New equipment')

					.col-sm-6.col-md-4

						+counter--green('12', 'k', 'Closed deal')

// section end